.wrapper{
  background: linear-gradient(rgba(200, 12, 200, 0.598), rgba(24, 24, 145, 0.661), rgb(15, 105, 140));
  min-height: 100vh;
}

.table>:not(caption)>*>*{
  background: transparent !important;
}